*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
body{
    background: #0C151D;

}
.carusel__wrapper{
    height: 800px;
    .img{
        height: 800px;
        object-fit: cover;
    }
}
.movises__list{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.movies__item{
    margin-top: 30px;
    margin-left: 90px;
}